/* Container for Expenses page */
.expensesContainer {
    display: flex;
    min-height: 100vh;
    width: auto;
}

/* Main content next to the sidebar */
.expensesContent {
    flex: 1;
    padding: 20px;
    background-image: url('../Images/sky-blue-background.jpg');
    background-size: cover;
    height: auto;
}

.expensesContent h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.tableContainer {
    width: 100%;
}

.scrollableTable {
    overflow-x: auto;
}

.expensesTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
}

.expensesTable th, .expensesTable td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.expensesTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.selectedRow {
    background-color: #cef3f8;
}

.monthSection {
    margin-bottom: 20px;
}

.monthHeader {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monthHeader h3 {
    margin: 0;
}

.monthHeader button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #007bff;
}

.expenseButtons {
    display: flex;
    gap: 20px;
}

.addExpenseButton,
.removeExpenseButton,
.editExpenseButton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.addExpenseButton {
    background-color: #007bff;
}

.removeExpenseButton {
    background-color: #dc3545;
}

.editExpenseButton {
    background-color: #04760c;
}

.addExpenseButton i,
.removeExpenseButton i,
.editExpenseButton i {
    margin-right: 8px;
}

.removeExpenseButton.disabledButton,
.editExpenseButton.disabledButton {
    background-color: grey;
    cursor: not-allowed;
}

/* Styling for the bar chart */
.expenseChart {
    margin-top: 20px;
    width: 100%;
    /* max-width: 800px; */
    max-height: 800px;
}

/* Styling for the success message */
.successMessage {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.successMessage.fadeOut {
    opacity: 0;
}

@media (max-width: 1400px) {
    .expenseChart {
        display: none;
    }
}

/* New media query for screen width 650px or below */
@media (max-width: 650px) {
    .expensesContainer {
        flex-direction: column; /* Stack children vertically */
        height: 100%;
    }

    .expensesContent {
        width: 100%; /* Ensure content takes full width */
    }

    .expenseButtons {
        margin-bottom: 10px;
    }

    .scrollableTable {
        width: 100%;
        overflow-x: scroll;
    }
}
