/* Container for Revenues page */
.revenuesContainer {
    display: flex;
    height: 110vh;
}

/* Main content next to the sidebar */
.revenuesContent {
    flex: 1;
    padding: 20px;
    background-image: url('../Images/sky-blue-background.jpg');
    background-size: cover;
    height: 110vh; /* Set height to 100% of the viewport height */
}

.revenuesContent h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.revenuesTableContainer {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow-x: auto; /* Add horizontal scroll if the table is too wide */
}

.revenuesTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
}

.revenuesTable th, .revenuesTable td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.revenuesTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.selectedRow {
    background-color: #cef3f8; /* Light blue color for highlighting */
}

.monthSection {
    margin-bottom: 20px;
}

.monthHeader {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monthHeader h3 {
    margin: 0;
}

.monthHeader button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #007bff;
}

.revenueButtons {
    display: flex;
    gap: 20px;
}

.addRevenueButton,
.removeRevenueButton,
.editRevenueButton {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.addRevenueButton {
    background-color: #007bff;
}

.removeRevenueButton {
    background-color: #dc3545;
}

.editRevenueButton {
    background-color: #04760c;
}

.addRevenueButton i,
.removeRevenueButton i,
.editRevenueButton i {
    margin-right: 8px;
}

.removeRevenueButton.disabledButton,
.editRevenueButton.disabledButton {
    background-color: grey;
    cursor: not-allowed;
}

/* Styling for the success message */
.successMessage {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.successMessage.fadeOut {
    opacity: 0;
}

/* New media query for screen width 650px or below */
@media (max-width: 650px) {
    .revenuesContainer {
        flex-direction: column; /* Stack children vertically */
        height: 100%;
    }

    .revenuesContent {
        width: 100%; /* Ensure content takes full width */
    }

    .revenueButtons {
        margin-bottom: 10px;
    }
}
